    <div class="container" ng-controller="DishDetailController">
        <div class="row row-content">
            <div class="col-xs-12">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <form class="form-inline">
                    <p><big><strong>Customer Comments</strong></big>
                        <span>Sort by: </span>
                        <input ng-model="orderField" type="text" autofocus>
                    </p>
                </form>
                <ul class="list-unstyled" ng-repeat="comment in dish.comments | orderBy: orderField">
                    <li>
                        <blockquote>
                            <p>{{comment.rating}} Stars</p>
                            <p>{{comment.comment}}</p>
                            <footer>{{comment.author}}, {{comment.date | date : 'mediumDate'}}</footer>
                        </blockquote>
                    </li>
                </ul>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                <ul class="list-unstyled">
                    <li ng-show="commentForm.$valid && !commentForm.$pristine">
                        <blockquote>
                            <p>{{comment.rating}} Stars</p>
                            <p>{{comment.comment}}</p>
                            <footer>{{comment.author}}</footer>
                        </blockquote>
                    </li>
                </ul>
                <form class="form-horizontal" name="commentForm"
                        ng-submit="submitComment()" novalidate>
                    <div class="form-group"
                        ng-class="{ 'has-error' : commentForm.name.$error.required && !commentForm.name.$pristine }">
                        <label for="name" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name"
                                ng-model="comment.author" required>
                            <span ng-show="commentForm.name.$error.required && !commentForm.name.$pristine" class="help-block">
                            Your Name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numstars" class="col-sm-2 control-label">Number of Stars</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="numstars" value="1" ng-model="comment.rating"> 1</label>
                            <label class="radio-inline">
                                <input type="radio" name="numstars" value="2" ng-model="comment.rating"> 2</label>
                            <label class="radio-inline">
                                <input type="radio" name="numstars" value="3" ng-model="comment.rating"> 3</label>
                            <label class="radio-inline">
                                <input type="radio" name="numstars" value="4" ng-model="comment.rating"> 4</label>
                            <label class="radio-inline">
                                <input type="radio" name="numstars" value="5" ng-model="comment.rating" checked="checked"> 5</label>
                        </div>
                    </div>
                    <div class="form-group"
                        ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                        <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="comment" name="comment" rows="12"
                                ng-model="comment.comment" required></textarea>
                            <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">
                            Your comments are required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">
                            Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
