
    <div class="container" ng-controller="IndexController">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Our Lipsmacking Culinary Creations</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{feautered.image}} alt={{feautered.name}}>
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{feautered.name}}
                        <span class="label label-danger">{{feautered.label}}</span>
                        <span class="badge">{{feautered.price | currency}}</span></h2>
                        <p>{{feautered.description}}</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>This Month's Promotions</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">{{promotion.name}}
                        <span class="label label-danger"></span>{{promotion.label}}</h2>
                        <p>{{promotion.description}}</p>
                    </div>
                    <div class="media-right media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{promotion.image}} alt="Weekend Grand Buffet">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Meet our Culinary Specialists</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{chef.image}} alt={{chef.abbr}}>
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{chef.name}}</h2>
                        <h4>{{chef.designation}}</h4>
                        <p>{{chef.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
